<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:requestLegacyExternalStorage="true"
    package="com.gas.billiard">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--    android:icon="@mipmap/ic_launcher"-->
    <!--    android:roundIcon="@mipmap/ic_launcher_round"-->
    <!--    android:theme="@style/Theme.Billiard"-->
    <!--    -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/semenov_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/bol_pool1"
        android:roundIcon="@drawable/bol_pool1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.homefolder.gas.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <activity
            android:name=".EditDBActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="editDBActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewOrderActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="newOrderActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="tableActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="settingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommonActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="commonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>